@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

*{
    margin: 0;
    padding: 0;
}

a:-webkit-any-link{
    color: white;
    text-decoration: none;
}

body {
   background: #0c0c24;
   color: white;
   font-family: 'Cardo', serif;
   font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 600;
    font-size: 35px;
    font-family: 'Cardo', serif;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    color: white;
    font-size: 20px;
}

header ul.nav li:hover {
    opacity: 0.5;
}


.presentation {
    margin: 50px 0;
    background: url('./Background_img/background.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.presentation::after {
    content: 'Mercedes-Benz';
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.presentation::before {
    content: 'Make every drive an adventure';
    position: absolute;
    top: 120px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.card-logo{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: relative;
    top: 10px;
}

.main{
    display: flex;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    text-align: center;
    font-family: arial;
    background-color: gray;
    margin: 30px;
}

.text_box{
    margin: 25px;
}

.text_box h4{
    margin-bottom: 10px;
    font-size: 30px;
    transition: opacity 500ms ease;
}
.text_box h4:hover {
    opacity: 0.5;
}
.price {
    color: black;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.description{
    color: black;
}

.add_button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

 .add_button:hover{
    opacity: 0.7;
}

footer {
    text-align: center;
}

.about-us-img {
    width: 100%;
    height: 500px;
    margin: 50px 0;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts-img {
    width: 100%;
    height: 500px;
    margin: 50px 0;
}

.social-logo {
    margin: 10px;
    align-items: center;
    transition: opacity 500ms ease;
}

.social-logo:hover {
    opacity: 0.5;
}

.about-item-title {
    color: white;
    font-family: 'Cardo', serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.about-item-image {
    width: 100%;
}

.setting-title {
    margin-left: 150px;
    color: white;
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 25px;
}

.about-item {
    margin-left: 260px;
    margin-bottom: 25px;
    color: white;
    font-family: 'Cardo', serif;
    font-size: 20px;
    font-style: italic;
}

.performance-image {
    width: 100%;
}

.setting-title-2{
    margin-left: 50px;
    color: white;
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 25px;
}

.about {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.about-text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}